<div id="<%= dom_id share %>">
  <p>
    <strong>User:</strong>
    <%= share.user_id %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= share.platform %>
  </p>

  <p>
    <strong>Share url:</strong>
    <%= share.share_url %>
  </p>

</div>
